@model ThueXe.Models.Contact
<form action="/" method="post" class="contact-part">
    <h2 class="form-title">
        Kiểm tra xe trống và <br />
        Nhận báo giá ưu đãi ngay
    </h2>
    <div class="mt-3">
        <label class="form-label">Họ và tên</label>
        <input class="form-control" type="text" name="name" value="" placeholder="Nhập họ tên" />
        @*<div class="valid-feedback">
                Looks good!
            </div>*@
    </div>
    <div class="mt-3">
        <label class="form-label">Họ và tên</label>
        <input class="form-control" type="text" name="name" value="" placeholder="Nhập họ tên" />
        @*<div class="valid-feedback">
                Looks good!
            </div>*@
    </div>
    <div class="mt-3">
        <label class="form-label">Họ và tên</label>
        <input class="form-control" type="text" name="name" value="" placeholder="Nhập họ tên" />
        @*<div class="valid-feedback">
                Looks good!
            </div>*@
    </div>
    <div class="mt-3 policy-form">
        <input type="checkbox" name="" checked/>
        Tôi đã đọc và đồng ý với
        <a href="#">Điều khoản dịch vụ</a>
        và <a href="#">Chính sách bảo mật của bạn</a>
    </div>
    <button type="submit">
        nhận báo giá ngay
    </button>
</form>