
@font-face {
    font-family: 'Display-Bold';
    font-display: swap;
    src: url('../webfonts/SF-Pro-Display-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Blacksword';
    font-display: swap;
    src: url('../webfonts/1FTV-VIP-Blacksword.woff2') format('woff2');
}

@font-face {
    font-family: 'Aguda';
    font-display: swap;
    src: url('../webfonts/SVN-Aguda Bold.woff2') format('woff2');
}
@font-face {
    font-family: 'Display-Medium';
    font-display: swap;
    src: url('../webfonts/SF-Pro-Display-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Display-Regular';
    font-display: swap;
    src: url('../webfonts/SF-Pro-Display-Regular.woff2') format('woff2');
}

@mixin Bold {
    font-family: 'Display-Bold';
}

@mixin Medium {
    font-family: 'Display-Medium';
}

@mixin Regular {
    font-family: 'Display-Regular';
}

@mixin Blacksword {
    font-family: 'Blacksword';
}

@mixin Aguda {
    font-family: 'Aguda';
}

$gradient-orange: linear-gradient(180deg, #FF4605 0%, #FF8A05 100%);
$gradient-blue: linear-gradient(90deg, #0075FF 0%, #004596 100%);
$orange: #FF4605;
$blue: #004596;
$red: #d10000;
$white: #fff;
$blur: #F0F0F0;
$black: #000;
$yeallow: #f7a730;
$text-blur: #656565;

@mixin letterSpacing($value, $value2) {
    .slick-slide {
        margin: 0 $value;
    }

    .slick-list {
        margin: 0 $value2;
    }
}

@mixin Flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}



@mixin maxWidth($value) {
    @media (max-width: $value) {
        @content;
    }
}

@mixin img-transition {
    transition: all .5s;
}


@mixin before($width, $height) {
    content: '';
    position: absolute;
    width: $width;
    height: $height;
}

@mixin flex-item($content, $align) {
    display: flex;
    justify-content: $content;
    align-items: $align;
}

@mixin text-center {
    left: 50%;
    transform: translateX(-50%)
}

@mixin item-center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@mixin vartical-center {
    top: 50%;
    transform: translateY(-50%);
}

.slick-arrow {
    position: absolute;
    @include vartical-center;
    border: 0;
    color: $black;
    padding: 2px 8px;
    z-index: 9;
    background: no-repeat;

    i {
        color: $black;
    }

    &:hover {
        &::before {
            opacity: 1;
        }
    }

    &::before {
        @include before(100%, 100%);
        top: 0;
        left: 0;
        opacity: 0.25;
        transform: matrix(-1, 0, 0, 1, 0, 0);
        border-radius: 5px;
    }

    i {
        position: relative;
        font-size: 30px;
    }
}

.slick-next {
    right: 0;
}

.slick-prev {
    left: 0;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

body {
    @include Regular;
    top: 0 !important;
}

.container {
    max-width: 1170px;

    @include maxWidth(1366px) {
        max-width: 1230px;
    }

    @include maxWidth(1100px) {
        max-width: 1090px;
    }

    @include maxWidth(768px) {
        max-width: 764px;
    }
}

a, a:hover {
    color: $blue;
    color: #000;
    text-decoration: none;
}

@mixin truncate($value) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: $value;
}

.btn-primary {
    background: $red;
    border-color: $red;

    &:hover {
        background: $red;
        border-color: $red;
        opacity: .8;
    }
}

.ul-reset {
    padding: 0;
    margin: 0;

    li {
        list-style: none;
    }
}

header {
    position: sticky;
    width: 100%;
    z-index: 1;
    top: 0;
    padding: 20px 0;
    background: $orange;
}

.logo {
    width: 141px;
    height: 35px;
    filter: brightness(0) invert(1);
    object-fit: contain;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0 20px;

    li {
        > a {
            color: $white;
            font-size: 16px;
        }

        &:hover .sub-nav {
            visibility: visible;
            opacity: 1;
            transition: all .2s ease-out;
            transform: translate(0,4%);
        }
    }
}

.sub-nav {
    visibility: hidden;
    opacity: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    background: rgba(0,0,0,.7);
    z-index: 99;
    transform: translate(0,1.25rem);
    transition: all .2s ease-out;
    opacity: .9;
    width: max-content;
    border-bottom: 1px #ccc solid;

    &:after {
        bottom: 100%;
        left: 20%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(255,255,255,0);
        border-bottom-color: $blue;
        border-width: .375rem;
        margin-left: -0.375rem;
    }

    a {
        font-size: .875rem;
        font-weight: 500;
        display: block;
        color: #fff;
        line-height: normal;
        padding: .875rem .938rem;
    }

    li {
        border-bottom: solid .063rem $blur;
        overflow: hidden;

        &:hover {
            background: $blue;
        }
    }
}

/*.banner {
    padding-top: 100px;
    width: 100%;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        height: 571px;
        background: $gradient-orange;
        width: 100%;
        top:0;
    }
}*/
.custom-baner {
    height: 70vh !important;
    background-image: var(--bg) !important;
}
.color--orange {
    background: $orange;
}
.service-title {
    color: #FFF;
    font-size: 36px;
    @include Bold;
    text-transform: uppercase;
}
.service-sub {
    color: #FFF;
    font-size: 16px;
}
.banner {
    width: 100%;
    height: 90vh;
    background: url(../Content/images/img-main/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}
.title-banner {
    @include Blacksword;
    color: #004596;
    font-size: 64px;
    text-align:center;
}
.has-dropdown {
    position: relative;
}

.list-banner {
    position: relative;

    h2 {
        color: #FFF;
        @include Aguda;
        font-size: 48px;
        text-transform: uppercase;
        width: 588px;
        height: 66px;
        flex-shrink: 0;
        background:$gradient-orange;
        @include Flex-center;
    }
}

.btn-color {
    padding: 14px 23px 15px 23px;
    color: $white;
    text-align: center;
    @include Medium;
    font-size: 14px;
    text-transform: uppercase;
    background: $gradient-blue;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    max-width: max-content;


    &:hover {
        color: $white;

        .box-icon {
            i {
                animation: moveIcon 0.6s ease forwards;
            }
        }
    }
}

.box-icon {
    width: 20px;
    height: 20px;
    overflow: hidden;
    @include Flex-center;
    position: relative;
    cursor: pointer;

    i {
        position: relative;
        left: 0;
        transition: transform 0.4s ease, opacity 0.4s ease;
    }
}

@keyframes moveIcon {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    50% {
        transform: translateX(100%);
        opacity: 0;
    }

    51% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/*.list-banner {
    h2 {
        margin-top: 30px;
        color: $white;
        font-size: 36px;
        font-style: normal;
        @include Bold;
        text-transform: uppercase;
    }
}*/
.img-ban {
    background: url(./images/img-main/qwdqwd.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 630px;
    height: 322px;
}
.slogan {
    color: $blue;
    @include Aguda;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.contact-part {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #E5E5E5;
    background: $white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    position: relative;

    h2 {
        color: $blue;
        font-size: 28px;
        @include Bold;
    }

    button {
        padding: 10px 35px 10px 35px;
        border-radius: 5px;
        background: $gradient-blue;
        color: #FFF;
        text-align: center;
        font-size: 18px;
        @include Bold;
        text-transform: uppercase;
        width: 100%;
        border: 0;
        margin-top: 30px;
    }
}

.policy-form {
    color: $blue;
    font-size: 14px;
    line-height: 20px;

    a {
        color: #08F;
        font-size: 14px;
        line-height: 20px;
        @include Bold;
    }
}

.img-banner {
    width: 660px;
    object-fit: contain;
    margin-top: 116px;
}

.intro {
    gap: 10px;
    align-items: center;

    img {
        width: 70px;
        height: 70px;
        object-fit: contain;
    }

    h2 {
        color: $blue;
        font-size: 24px;
        @include Bold;
        text-transform: capitalize;
        margin: 0;
    }
}

.page-section {
    padding: 30px 0;
}

.title {
    color: $blue;
    text-align: center;
    font-size: 36px;
    @include Bold;
    text-transform: uppercase;
}

.sub-title {
    color: #000;
    text-align: center;
    font-size: 16px;
}

.service-slide {
    @include letterSpacing(10px, -10px);

    article {
        padding: 35px 20px;
        border-radius: 20px;
        background: #ebebeb;
        transition: all 1s;
    }

    img {
        width: 100%;
        object-fit: contain;
        aspect-ratio: 1;
    }

    h2 {
        color: #000;
        font-size: 24px;
        @include Bold;
        text-transform: capitalize;
    }

    .tag {
        border-radius: 50px;
        background: #FF4605;
        color: #FFF;
        font-size: 16px;
        width: max-content;
        @include Medium;
        text-transform: capitalize;
        padding: 4px 14px;
        margin-bottom: 10px;
    }

    .slick-current {
        transform: scale(.9);

        h2 {
            font-size: 32px;
        }
    }

    .slick-slide {
        transition: all 1s;

        &:not(.slick-current) {
            transform: scale(.8);
        }
    }

    a {
        color: #FFF;
        text-align: center;
        font-size: 14px;
        text-transform: uppercase;
        @include Medium;
        padding: 14px 23px 15px 23px;
        border-radius: 10px;
    }

    .btn-blue {
        background: $blue;
        border-color: $blue;

        &:hover {
            background: $blue;
            border-color: $blue;
            opacity: .8;
        }
    }

    .btn-orange {
        background: $orange;
        border-color: $orange;

        &:hover {
            background: $orange;
            border-color: $orange;
            opacity: .8;
        }
    }

    .slick-dots {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 1rem 0;
        list-style-type: none;

        li {
            margin: 0 0.25rem;
        }

        button {
            display: block;
            width: 1rem;
            height: 1rem;
            padding: 0;
            border: none;
            border-radius: 100%;
            border: 1px solid $orange;
            text-indent: -9999px;
            background: $white;
        }

        li.slick-active button {
            border: 1px solid $orange;
            background: $gradient-orange;
        }
    }
}

.box-price {
    border: 13px solid #FF4605;
    border-radius: 5px;
    margin-top: 30px;

    tbody {
        tr {
            th {
                color: $blue;
                font-size: 16px;
                @include Regular;
            }

            td {
                padding: 15px 34px;
                text-align: center;
                color: $blue;
                font-size: 16px;

                &:first-child {
                    text-align: left;
                }
            }
        }
    }
}

.header-tb {
    border-radius: 5px 5px 0 0;

    tr {
        td {
            width: 20%;
            background: $blue;
            height: 47px;
            color: $white;
            text-align: center;
            font-size: 16px;
            text-transform: uppercase;
            @include Medium;
            letter-spacing: 3px;
        }
    }
}

.step {
    background: #ebebeb;
    padding: 30px 20px;
    border-radius: 10px;

    h2 {
        text-align: left;
    }
}

.step-count {
    width: 33px;
    height: 33px;
    flex-shrink: 0;
    background: $gradient-orange;
    position: relative;
    border-radius: 50%;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    @include Medium;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;

    &:before {
        content: "";
        position: absolute;
        width: 41px;
        border-radius: 50%;
        height: 41px;
        border: 1px solid $orange;
        @include item-center;
    }
}

.step-name {
    color: #000;
    font-size: 16px;
}

.QA {
    &:before {
        content: "";
        position: absolute;
        background: url(./images/icon.svg);
        width: 168.127px;
        height: 109.618px;
        top: 0;
        right: 0;
    }
}

.accordion-button:not(.collapsed) {
    background: #ebebeb;
}

.accordion-item {
    margin-top: 20px;
    border: 0;
    background: #ebebeb;
}

.accordion-button {
    font-weight: 600;
    background: #ebebeb;
    box-shadow: none;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion-icon {
    background-color: #d1d5db;
    color: white;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.accordion-button::after {
    display: none;
}
/* Khi mở */
.accordion-button:not(.collapsed) .accordion-icon {
    transform: rotate(180deg);
    background-color: #ff7c1e;
}

.feedback {
    background: url(./images/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.article {
    img {
        width: 100%;
        object-fit: cover;
        aspect-ratio: 1.5;
        border-radius: 10px;
    }

    .date {
        color: #000;
        font-size: 16px;

        i {
            color: $blue;
        }
    }
}

.subject {
    color: #000;
    font-size: 20px;
    @include Bold;
    @include truncate(2)
}

.see {
    display: flex;
    width: max-content;
    height: 39px;
    padding: 14px 23px 15px 23px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 50px;
    border: 1px solid #757579;
    color: #757579;
    text-align: center;
    font-size: 16px;
    @include Medium;
    text-transform: uppercase;
}

.list-feedback {
    @include letterSpacing(20px, -20px);
    margin-top: 50px;

    .slick-next {
        right: -40px;

        i {
            color: $white;
        }
    }

    .slick-prev {
        left: -40px;

        i {
            color: $white;
        }
    }

    .slick-dots {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 1rem 0;
        list-style-type: none;

        li {
            margin: 0 0.25rem;
        }

        button {
            display: block;
            width: 1rem;
            height: 1rem;
            padding: 0;
            border: none;
            border-radius: 100%;
            border: 1px solid $white;
            text-indent: -9999px;
            background: none;
        }

        li.slick-active button {
            border: 1px solid $white;
            background: $white;
        }
    }
}

.feedback-item {
    padding: 40px;
    background: $white;
    border-radius: 10px;

    img {
        width: 104px;
        height: 104px;
        flex-shrink: 0;
        border-radius: 50%;
        border: 2px solid #FFF;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }
}

.name-fb {
    color: #000;
    font-size: 18px;
    @include Bold;
}

.fb-postion {
    color: #000;
    font-size: 16px;
}

.fb-star {
    display: flex;
    gap: 3px;
    color: yellow;
}

.last-section {
    background: $orange;
    margin-top: 30px;
    position: relative;
    padding: 20px 50px;
    border-radius: 10px;

    h2 {
        text-align: left;
        display: block;
    }

    img {
        position: absolute;
        bottom: 0;
        width: 571px;
        height: 315px;
        right: 0;
    }
}

footer {
    background: #222732;
    padding: 30px 0;

    h2 {
        color: #FFF;
        font-size: 24px;
        text-transform: uppercase;
        @include Bold;
        margin-bottom: 20px;
    }
}

.ul-ft {
    li {
        margin-bottom: 10px;
    }

    a {
        color: #FFF;
        font-size: 16px;
    }
}

.ul-icon {
    display: flex;
    gap: 10px;

    a {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        @include Flex-center;
        color: $white;
        border: 1px solid $white;
    }
}

.uu-info {
    p {
        color: #000;
        font-size: 18px;
        @include Bold;
        line-height: normal;
        margin-bottom:0
    }

    span {
        color: #000;
        font-size: 16px;
    }
}
.icon-img {
    width: 56px;
    height: 56px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
}
.car-item {
    img {
        width: 100%;
        object-fit: cover;
        aspect-ratio: 1.5;
        border-radius:10px;
    }
}
.car-name {
    color: #000;
    @include Bold;
    font-size: 20px;
    text-transform: uppercase;
    text-align:center;
}
.year-car {
    color: #000;
    font-size: 16px;
    text-align:center;
}
.list-car {
    @include letterSpacing(20px, -20px);
    margin-top: 50px;

    .slick-next {
        right: -50px;

       
    }

    .slick-prev {
        left: -50px;

    }

    .slick-dots {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 1rem 0;
        list-style-type: none;

        li {
            margin: 0 0.25rem;
        }

        button {
            display: block;
            width: 1rem;
            height: 1rem;
            padding: 0;
            border: none;
            border-radius: 100%;
            border: 1px solid $white;
            text-indent: -9999px;
            background: none;
        }

        li.slick-active button {
            border: 1px solid $white;
            background: $white;
        }
    }
}

.container-rs {
    max-width: 86.25rem;
    width: 100%;
    padding-right: .938rem;
    padding-left: .938rem;
    margin-right: auto;
    margin-left: auto;
}

.hot-article {
    h2 {
        font-size: 1rem;
        height: 2.5rem;
    }

    img {
        object-position: top;
        object-fit: cover;
        aspect-ratio: 2;
        width: 100%;
    }
}

.info {
    display: flex;
    justify-content: space-between;
    font-size: 0.875rem;

    a {
        color: #0f4f78;
        @include Bold;
        text-transform: capitalize
    }

    span {
        color: #666;
    }
}

.article-des {
    color: #555;
    @include truncate(2);
}

.subject-h {
    margin-top: .5rem;
    color: #000;
    @include Medium;
    @include truncate(2);

    &:hover {
        color: #4CE2C8;
    }
}

.detail-subject {
    font-size: 1.75rem;
    font-weight: 700;
}

.date-post {
    font-size: .75rem;
}

.sapo-detail {
    background: #e5e5e5;
    border: .063rem #ccc dashed;
    padding: .625rem;
    font-style: italic;
    margin: 1rem 0;
}

.detail-content {

    iframe {
        width: 100%;
        /*height: auto;*/
    }

    video {
        width: 100%;
        height: auto;
    }

    img {
        max-width: 100% !important;
        height: auto !important;
    }

    h1, h2 {
        font-size: 1.25rem;
    }

    h3 {
        font-size: 1.125rem;
    }

    h4, h5, h6 {
        font-size: 1rem;
    }

    table {
        max-width: 100%;

        td {
            padding: .5rem;
        }
    }
}


.title-right {
    color: #000;
    text-align: justify;
    font-size: 1.3rem;
    line-height: 1.875rem;
    @include Medium;
    text-transform: uppercase;
}

.item-right {
    border-bottom: .063rem solid #e4e4e4;
    padding: .625rem 0;
}
.article-item {
    position: relative;
    margin-bottom: 30px;

    img {
        width: 100%;
        object-fit: cover;
        aspect-ratio: 6 / 4;
    }

    .date-article {
        padding: 5px;
        position: absolute;
        top: 0;
        left: 0;
        background: $gradient-orange;
        color: #fff;
        text-align: center;
    }

    .subject-h {
        font-size: 16px;
        height: 38px;
    }

    .article-body {
        padding: 10px;

        .article-subject {
            -webkit-line-clamp: 2;
            @include Bold;
            line-height: 20px;
            font-size: 16px;
            height: 40px;
        }

        .article-des {
            margin-top: 5px;
            -webkit-line-clamp: 4;
            height: 84px;
            font-size: 14px;
        }
    }
}


.title-section {
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        width: 53px;
        height: 4px;
        background: #4CE2C8;
        left: 50%;
        transform: translateX(-50%);
        bottom: -20px;
    }
}
.box-articles {
    margin-top: 40px;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
    border: 0 !important;
    border-radius: 10px;
}
.article-info__share {
    align-items: center;

    li:first-child {
        padding-right: 15px;
    }

    li {
        padding-right: 3px;
        font-size: .875rem;
        font-weight: 500;
    }

    button {
        background: none;
        border: none;

        img {
            width: 30px !important;
        }
    }
}
.title-relate {
    color: #000;
    font-size: 1.125rem;
    @include Bold;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        width: 3.938rem;
        height: .25rem;
        background: #02ba96;
        bottom: 0;
    }
}
.box-article article {
    border-bottom: .063rem solid #e4e4e4;
    padding: 1.25rem 0;
}
.body-relate {
    display: flex;
    flex-direction: column;
    height: 8.438rem;
    justify-content: space-evenly;
    margin-left:20px;
}
.relate-img {
    width: 14.125rem;
    height: 8.438rem;
    object-fit: cover;
}
.relate-subject {
    color: #000;
    font-size: 1rem;
    font-weight: bold;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
}

.relate-sub {
    color: #000;
    font-size: .875rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
}

.body-relate {
    display: flex;
    flex-direction: column;
    height: 8.438rem;
    justify-content: space-evenly;
}
.step-name-custom{
    font-size:14px;
    text-align:center;
}